@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p role="status">
    <FluentBadge Appearance="Appearance.Neutral">@message</FluentBadge>
</p>

<FluentButton Appearance="Appearance.Accent" @onclick="MouseClicked">Click me</FluentButton>

@code {
    private string message = "Welcome";
    private void MouseClicked()
    {
        message = "Button clicked!";
    }
}